<%- include('header', {active: "order"}) %>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Rendeléseim</h1>
        </div>
        <div class="col-xs-12">
            <% if(data.weekNumber){ %>
            <h2><%= data.weekNumber %>. hét
                <small><%= moment().weeks(data.weekNumber).weekday(0).format("MMM Do") %>
                    - <%= moment().weeks(data.weekNumber).weekday(4).format("MMM Do") %></small>
            </h2>
            <% } %>
        </div>
        <div class="col-xs-12 margin-bottom-1">
                <span><a href="#"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Előző hét</a>
                </span>
            <span class="margin-left-1"><a href="#">Következő hét <span class="glyphicon glyphicon-menu-right"
                                                                        aria-hidden="true"></span></a>
                </span>
        </div>
    </div>

    <% data.forEach(function(order){ %>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3><%= moment(order.date).format("dddd") %>
                        <small><%= moment(order.date).format("MMM Do") %></small>
                    </h3>
                    <ul class="list-unstyled">
                        <li>
                            <div>
                                <span class="inline">
                                    <%= order.food.name %>
                                </span>
                                <span class="btn-group pull-right">
                                        <button type="button"
                                                class="btn btn-sm btn-danger deleteOrder"
                                                value="<%= JSON.stringify({
                                                    foodName: order.food.name,
                                                    date: order.date
                                                }) %>">Lemond</button>
                                </span>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <% }) %>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type='text/javascript'>
    $('.deleteOrder').click(function () {
        var deletedOrder = $('.deleteOrder');
        $.ajax({
            url: '/order',
            type: 'DELETE',
            data: {orderToDelete: deletedOrder.val()}
        })
            .done(function () {
                window.location.replace("/order");
            })
    });
</script>

<%- include('footer') %>